#sign-up .h1 {
  position: absolute;
  left: 5px;
  top: 300px;
}

#sign-up .h1 .title-team {
  display: block;
  position: absolute;
}

#sign-up .h1 .title-team b {
  font-weight: normal;
  display: block;
  line-height: 0.75em;
  font-size: 70px;
}

#sign-up .h1 .sign,
#sign-up .h1 .up {
  position: absolute;
  left: 70px;
  line-height: 0.8em;
}

#sign-up .h1 .sign {
  font-size: 90px;
}

#sign-up .h1 .up {
  top: 80px;
  font-size: 166px;
}

#sign-up-form h2 {
  font-family: "MOD", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 124px;
  line-height: 0.9em;
}

.csstransforms #sign-up-form {
  position: absolute;
  width: 970px;
  top: 30px;
  z-index: 100;
  padding: 10px;
  background: var(--color-yellow);
  height: 520px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.001);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

.csstransforms .sign-up #sign-up-form {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

#sign-up-form .close {
  display: none;
}

.csstransforms #sign-up-form .close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}

.csstransforms #sign-up-form .close a {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 34px;
  display: block;
  height: 100%;
  background: var(--color-white);
  color: var(--color-red);
  text-align: center;
  font-size: 40px;
}

.csstransforms #sign-up-form .close a:hover {
  background: var(--color-red);
  color: var(--color-white);
}
