#content-wrapper #teams h1 {
  position: relative;
  top: 40px;
}

#teams h1 span {
  display: block !important;
  line-height: 0.8em;
  font-size: 80px !important;
}

#teams .team-list {
  position: absolute;
  top: 30px;
  height: 510px;
  width: 100%;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
}

.team-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.team-list::-webkit-scrollbar-button:start:decrement,
.team-list::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 8px;
  background-color: var(--color-yellow);
}

.team-list::-webkit-scrollbar-button:vertical:increment {
  background-color: var(--color-yellow);
}

.team-list::-webkit-scrollbar-track-piece {
  background-color: var(--color-white);
  -webkit-border-radius: 4px;
}

.team-list::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  -webkit-border-radius: 4px;
}

#teams .team-list .team {
  width: 310px;
  margin: 10px;
  text-align: center;
}
#teams .team-list .team-a {
  float: left;
  clear: left;
}
#teams .team-list .team-b {
  float: right;
  clear: right;
}

#teams .team-list .team h2 {
  font-weight: normal;
  font-size: 26px;
  line-height: 1em;
  border-top: 8px solid;
  padding-block-start: 5px;
  font-family: "Hero", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
}

#teams .team-list .team .player-list {
  list-style: none;
  margin: 0;
}

#teams .team-list .team .player {
  font-size: 16px;
  padding: 2px 0;
}

#teams .team-list .team .player a {
  font-family: "Hero", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}
